{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'LMI_NLP/bootstrap.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'LMI_NLP/Rex.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rexana</title>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row pt-3">
                    <div class="col-2 pt-2 text-center">
                        <h2 class="logo">Rexana</h2>
                    </div>
                    <div class="col-2">
                        
                    </div>
                    <div class="col-8 pt-4">
                        <div class="menu" id="homepage">
                            <ul>
                                <li><a href="#homepage">Accueil</a></li>
                                <li><a href="#steps">Fonctionnement</a></li>
                                <li><a href="Execution.html">Posez votre question</a></li>
                            </ul>
                            
                        </div>
                    </div>
        </div>
        </div>
    </header>



        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col-6 pt-4">
                    <div class="row">
                        <div class="col-12 py-6 text-align-left">
                            <div class="H1" >
                                Une <span style="color : #1563A5">intelligence</span> qui <span style="color : #9D7FC6;">explorera</span> les
                                    <span style="color : #9D7FC6;">connaissances</span>  du monde pour <span style="color : #9D7FC6;">vous</span>
                            </div>

                        </div>

                        <div class="col-12">
                            <div class = "CH1">
                                Rexana est une intelligence artificielle
                                qui saura repondre a vos questions,
                                en faisant, comme toutes personne humaine ferait
                                quand elle a une question: chercher dans Wikipedia
                            </div>
                        </div>

                        <div class="col-12">
                            <input class="bt" type="button" value="posez votre question !">
                        </div>

                    </div>
                   

                </div>

                <div class="col-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="rex">
                                {% load static %}  <img src="{% static 'LMI_NLP/images/rex.svg'%}" alt="" class="img-fluid"/>
                            </div>

                        </div>
                       
                    </div>
                   
                </div>
            </div>
        
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 text-center">
                <div class="titre" id="steps">Fonctionnement</div>
            </div>
            <div class="col-4">

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="sousT">L’intelligence Artificielle, c’est quoi?</div>
            </div>
            <div class="col-6 py-4">
                <div class="content1">
                    L’intelligence artificielle (IA) désigne, de manière générale, le comportement comparable à celui d’un être humain, 
                    présenté par une machine ou un système. Dans la forme la plus élémentaire de l’IA, les ordinateurs sont programmés pour 
                    « imiter » le comportement humain, en exploitant des quantités massives de données issues d’exemples antérieurs de 
                    comportements similaires. Cela peut aller de la reconnaissance des différences entre un chat et un oiseau à 
                    l’exécution d’activités complexes dans une usine de fabrication.
        
                </div> 

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center pt-6">
                <div class="sousT2">Rexana c'est qui ?</div>  
            </div>
            <div class="col-6 py-4">
                <div class="content2">
                   Rexana est une intelligence artificielle qui utilise un modèle de réseaux de neurones entrainé disponible sur internet, 
                   ce dernier s'apelle <span style="font-weight: bold; color : #9D7FC6;">Piaf</span>, ce dernier est très performant. <br>
                   pour trouver les réponses aux questions posées, elle explore la base de données de WIKIPEDIA. <br>
                   Les etapes que suit Rexana sont :
                </div> 
            </div>
        </div>



            <div class="row">
                <div class="col-4">
                    <div class="col-12 text-center py-4">
                        <div class="sousT3">Etape 1</div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <div class="content3">
                                <span style="font-weight: bold; color : #9D7FC6;">Analyse syntaxique et sémantique de la phrase</span> <br>
                                en délimitant les mots et la ponctuation; Rexana comprend qu'il y a
                                des espaces entre les mots, ceci servira  à déterminer et à comprendre certains mots clés.
                               
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="col-12 text-center py-4">
                        <div class="sousT4">Etape 2</div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <div class="content4">
                                <span style="font-weight: bold; color : #9D7FC6;">détermination du théme</span> <br>
                                grâce à l'Analyse sémantique et syntaxique, il est en effet possible de trouver le théme qu'englobe la question, qu'on explorera par la suite pour trouver la réponse
                                à la question
                    
                            </div> 
                    </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="col-12 text-center py-4">
                        <div class="sousT4">Etape 3</div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <div class="content4">
                                <span style="font-weight: bold; color : #9D7FC6;">Ciblage de la réponse</span> <br> aprés avoir trouver la réponse adéquate, Rexana nous la transmet en indiquant également le lien Wikipedia dans lequel elle a pioché la réponse      
                            </div> 
                    </div>
                    </div>
                </div>
            </div>

          
<div class="container-fluid">
   
</div>

</html>
