<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "style.css" rel = "stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rexana</title>
</head>


<body>

                <div class="navbar">
                        <h2 class="logo">Rexana</h2>
                    <div class="menu">
                        <ul>
                            <li><a href="homepage">Accueil</a></li>
                            <li><a href="us">Qui sommes-nous ?</a></li>
                            <li><a href="steps">Fonctionnement</a></li>
                            <li><a href="Go">Posez votre question</a></li>
                        </ul>
                    </div>
                </div>
            

                <div class = "H1"> 
                    <section id = "homepage">
                        <h1>Une  Intelligence qui explorera les connaissances
                            du monde pour vous</h1> 
                        <div class = "CH1">
                            <p>
                                Rexana est une intelligence artificielle
                                qui saura repondre a vos questions,
                                en faisant, comme toutes personne humaine ferait
                                quand elle a une question: chercher dans Wikipedia
                            </p>
                        </div>

                        
                    </section>

                </div>
                
                <div class="Rex"> <img src = "IA.svg" alt="Rexana"/> </div>
        
        
        
        
        <section id = "us">
        </section>
        
        <section id = "steps">
            <h1>Comment ca marche ?</h1>

            <h2>L’intelligence Artificielle, c’est quoi?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit.Pellentesque dui dolor, lacinia at
                 felis vel, luctus laoreet eros. Phasellus in
                tempus sapien. Morbi sit amet ligula nec odio</p>

            <h2>Rexana, c’est qui?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit.Pellentesque dui dolor, lacinia at
                    felis vel, luctus laoreet eros. Phasellus in
                tempus sapien. Morbi sit amet ligula nec odio</p>

            <h2>Etape 1</h2>
            <p>Analyse syntaxique de la phrase : en délimitant les mots et la ponctuation; Rexana comprend qu'il y a
                des espaces entre les mots et que ces derniers forment une phrase, grâce au point. 
                Exemple : "Je / mange / une / pomme.". </p>
            
            <h2>Etape 2</h2>
            <p>Analyse sémantique : determination et comprehension des mots cles. 
                Exemple : "J'ai perdu mon mot de passe", Rexana comprend que 
                 "mot de passe" se rapproche beaucoup des mots "identifiant" ou "utilisateur".
                </p>

            <h2>Etape 3</h2>
            <p>determination du theme : grace a l'Analyse semantique et syntaxique, il est en effet possible de trouver le theme qu'englobe la question, qu'on explorera par la suite pour trouver la reponse
                a la queestion
            </p>

            <h2>Etape 4</h2>
            <p>Ciblage de la reponse : apres avoir trouver la reponse adequate, Rexana nous la transmet en indiquant egalement le lien Wikipedia dans lequel elle a pioche la reponse</p>
            
            
        </section>

        <footer>
        </footer>
        
</body>
</html>